{% extends 'layout.html' %}

{% from 'includes/_formhelpers.html' import render_field %}

{% block body %}
    
        <button class="navbar-toggler visible" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-plus" aria-hidden="true"><span class="navbar-toggler-icon"></span></i>
            Add Incident
        </button>
        <div class="collapse navbar-toggleable-md" id="navbarCollapse">
                
            <div class="jumbotron">
                <form method='POST'>
                {{ form.hidden_tag() }}
                    <div class="form-group row">
                       <div class="col-md-7">
                            {{ render_field(form.incident, class_="form-control" ) }}
                        </div>
                        <div class="col-md-5">
                            {{ render_field(form.url, class_="form-control" ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ render_field(form.description, class_="form-control", id="editor" ) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-md">Add</button>
                </form>
            </div>
            
        </div>
    




{% endblock %}
      
      <hr>

{% block content %}   
      {% if incidents.count() == 0 %}
          <h3>No incidents yet</h3>
      {% else %}
     
<!--  Table Style   -->
    
    <table class="table table-hover">
       <thead class="thead-inverse">
            <tr>
                <th>Status</th>
                <th>Case</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for incident in incidents %}
            <tr>
                <!--  Change status depending on the 'is_closed' parameter  -->
                {% if not incident.is_closed  %} 
                    <td><a href='#' class="btn btn-primary btn-md disabled" role="button" aria-disabled="true">Active</a></td>
                {% else %}
                    <td><a href='#' class="btn btn-danger btn-md disabled" role="button" aria-disabled="true">Closed</a></td>
                {%endif%}
                <td>{{incident.incident}}</td>
                <td>{{ incident.description[:70] | safe }}...</td>
                <td>{{ incident.created_date.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                <td><a href="incident/{{ incident.id }}" class="btn btn-secondary">View</a></td>
                <td><a href="{{ incident.url }}" class="btn btn-danger" target="_blank">ServiceNow</a></td>
            </tr>
        
        {%  endfor %}
        
    </table>
     
     
      {% endif %}

{% endblock %}