{% extends 'layout.html' %}

{% from 'includes/_formhelpers.html' import render_field %}

{% block body %}
    
        <button class="navbar-toggler visible" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-plus" aria-hidden="true"><span class="navbar-toggler-icon"></span></i>
        </button>
        <div class="collapse navbar-toggleable-md" id="navbarCollapse">
                
            <div class="jumbotron">
                <h1 class="display-5 text-center">Add Incident</h1>
                <form method='POST'>
                {{ form.hidden_tag() }}
                    <div class="form-group row">
                       <div class="col-md-7">
                            {{ render_field(form.incident, class_="form-control" ) }}
                        </div>
                        <div class="col-md-5">
                            {{ render_field(form.url, class_="form-control" ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ render_field(form.description, class_="form-control", id="editor" ) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-md">Add</button>
                </form>
            </div>
            
        </div>
    




{% endblock %}
      
      <hr>

{% block content %}   
      {% if incidents.count() == 0 %}
          <h3>No incidents yet</h3>
      {% else %}
          {% for incident in incidents %}

        <div class="card card-outline-secondary mb-2">
          <div class="card-header">
              <h5><a href="{{ incident.url }}" target='_blank'>{{ incident.incident }}</a></h5>
          </div>
          <div class="card-block">
            <p class="card-text mb-4">{{ incident.description | safe }}</p>
              <p class="text-right"><small> {{ incident.created_date }} </small></p>
            <a href="incident/{{ incident.id }}" class="btn btn-secondary">View</a>
            <a href="{{ incident.url }}" class="btn btn-outline-info" target="_blank">ServiceNow</a>
          </div>
        </div>

          {% endfor %}
      {% endif %}

{% endblock %}