{% extends 'layout.html' %}


{% block content %}
    <div class="card mt-5 mb-5">
      <div class="card-header">
        {{ incident.incident }}
      </div>
      <div class="card-block">

        <p class="card-text">{{ incident.description | safe}}</p>
        <br><br>
      </div>
      <div class="card-footer text-center">
        <div class="btn-group" role="group">
            <a href="/dashboard" class="btn btn-outline-info mr-2">Back</a>
            <a href="/incident/{{ incident.id }}/edit" class="btn btn-outline-warning mr-2">Edit</a>
            <form action="{{ url_for('delete_incident', id=incident.id) }}" method='post'>
              <input type='hidden' name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-outline-danger mr-2">
            </form>
        </div>
          
<!--          <a href="/incident/{{ incident.id }}/delete" class="btn btn-outline-danger">Delete</a>-->
      </div>
    </div>
{% endblock %}
